#container {
    display: grid;
    grid-template-columns: 300px 600px;
}

#machine {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    justify-content: center;
    margin: 0 auto;
    width: 600px;
}

button {
    background-color: black;
    border-radius: 100%;
    color: silver;
    font: 18px 'Helvetica Neue', 'sans-serif';
    height: 120px;
    margin: 20px;
    width: 120px;
}

img {
    height: 300px;
    width: 300px;
}