#container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    justify-content: center;
    margin: 0 auto;
    width: 600px;
}

#game {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    width: 350px;
}

#display {
    position: fixed;
}

button {
    background-color: black;
    border-radius: 100%;
    color: silver;
    font: 18px 'Helvetica Neue', 'sans-serif';
    height: 100px;
    width: 100px;
}

img {
    height: 300px;
    width: 300px;
}